body {
  font-family: Roboto, sans-serif;
  overflow: auto;
}

.back-btn {
  font-size: 24px;
  background-color: white;
  border: none;
  color: black;
  margin-bottom: 10px;
  margin-left: 10px;
}

.logo {
  width: 200px;
  margin-left: 60px;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .logo {
    margin-left: 220px;
  }
}

@media only screen and (min-width: 992px) {
  .logo {
    margin-left: 450px;
  }
}

.menu-image {
  width: 100%;
  height: 200px;
  z-index: -1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-header {
  margin-left: 20px;
  padding-top: 30px;
}

.heart-icon {
  margin-top: -70px;
  margin-left: 280px;
  width: 100px;
}

@media only screen and (min-width: 768px) {
  .heart-icon {
    margin-left: 600px;
  }
}

@media only screen and (min-width: 992px) {
  .heart-icon {
    margin-left: 1100px;
  }
}

.empty-heart {
  margin-top: 13px;
  margin-left: 40px;
  font-weight: 100;
  position: relative;
}

.full-heart {
  margin-top: 13px;
  margin-left: 40px;
  font-weight: 100;
}

.heart-icon .full-heart {
  visibility: hidden;
  color: #9356dc;
  position: relative;
  top: -45px;
}

.empty-heart:hover {
  visibility: hidden;
}

.heart-icon:hover .full-heart {
  visibility: visible;
  -webkit-animation: fadeIn ease 3s;
          animation: fadeIn ease 3s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-menu {
  background: #f2f2f2;
  width: 100%;
  height: auto;
  border-radius: 40px 40px 0 0;
  margin-top: -55px;
  -webkit-animation: container-load 300ms ease;
          animation: container-load 300ms ease;
}

@-webkit-keyframes container-load {
  0% {
    -webkit-transform: translatex(-100%);
            transform: translatex(-100%);
  }
  100% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}

@keyframes container-load {
  0% {
    -webkit-transform: translatex(-100%);
            transform: translatex(-100%);
  }
  100% {
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
}

h3 {
  margin-left: 20px;
  text-transform: uppercase;
  border-bottom: 4px solid #99e2d0;
  width: 50px;
  padding-bottom: 5px;
  margin-top: 30px;
}

.item-container {
  background-color: white;
  border-radius: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  overflow: hidden;
  margin: 20px;
}

.item-container .item-name {
  width: 88%;
  font-size: large;
  padding-left: 10px;
  -webkit-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.item-container .item-name :first-of-type {
  font-weight: bold;
  overflow: hidden;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-container .item-name :nth-of-type(2) {
  font-size: smaller;
  opacity: 0.8;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-container .price {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 6px;
  width: 15%;
}

.item-container .check-box {
  background-color: #99e2d0;
  position: absolute;
  height: 100%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: -20%;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.item-container .check-box i {
  font-size: 21px;
  color: white;
  -webkit-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.item-container:hover .check-box {
  right: 0;
}

.item-container:hover .check-box i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.item-container:hover .item-name {
  width: 65%;
}

.order-now {
  width: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  height: 40px;
  font-size: 22px;
  color: white;
  background-color: #ff79da;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  -webkit-box-shadow: 0 5px 5px gray;
          box-shadow: 0 5px 5px gray;
  border: none;
  border-radius: 20px;
  margin-left: 100px;
  margin-bottom: 75px;
  cursor: pointer;
  -webkit-transition: background-color 2s ease;
  transition: background-color 2s ease;
}

.order-now:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f70c95), to(#640a64));
  background-image: linear-gradient(#f70c95, #640a64);
}

@media only screen and (min-width: 768px) {
  .order-now {
    margin-left: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .order-now {
    margin-left: 545px;
  }
}

.footer {
  background-color: #1d1c1c;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
  margin-top: -20px;
}

.footer h1 {
  color: white;
  margin-left: 20px;
  padding-top: 25px;
  font-style: italic;
  font-family: Shrikhand-Regular;
}

.footer .footer-text {
  color: white;
  font-size: 24px;
  margin-left: 20px;
  line-height: 1.8;
}

.footer .contact-email {
  color: white;
  text-decoration: none;
}
/*# sourceMappingURL=Menu.css.map */