$primarycolor:  #9356dc;
$secondarycolor:  #ff79da;
$tertiarycolor:  #99e2d0;
$backgroundcolor:  #f2f2f2;
$font-family: Roboto,  sans-serif;
body {
  font-family: $font-family;
}
.logo {
    width: 200px;
    margin-left: 85px;
    }
    @media only screen and (min-width: 768px) {
        .logo {
            margin-left: 270px;
        }
    }
    @media only screen and (min-width: 992px) {
        .logo {
            margin-left: 500px;
            width: 300px;
        }
    }

@media only screen and (min-width: 992px) {
    .head-container {
        width: 35%;
    }
}

.header {
    background-color: rgb(229, 232, 235);
    height: 325px;
}
.address {
    width: 100%;
    background-color: rgb(171, 173, 173);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    
   }
.location-btn {
    font-size: large;
    background-color: rgb(171, 173, 173);
    border: none;
    margin-right: 10px;
}
h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
h5 {
    text-align: center;
    font-size: medium;
}
.button-head {
    margin-left: 15px;
}
.header-button {
    font-size: large;
    padding: 20px 30px 20px 30px;
    border-radius: 30px;
    margin-left: 85px;
    background-color: $secondarycolor;
    border: none;
    color: white;
    margin-top: 20px;
    background-image: linear-gradient($secondarycolor, $primarycolor);
    cursor: pointer;
    transition: background-color 2s ease;
    box-shadow: 0 10px 10px gray;
    &:hover {
        background-image: linear-gradient(rgb(247, 12, 149), rgb(100, 10, 100))
    }
}
@media only screen and (min-width: 768px) {
    .header-button {
        margin-left: 250px;
    }
}
@media only screen and (min-width: 992px) {
    .header-button {
        margin-left: 85px;
    }
}
.choose-restaurant {
    background-color: #f2f2f2;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    height: 60px;
    text-align: center;
    padding-top: 1px;
    font-size: 20px;
    padding-bottom: 20px;

}
.one {
    margin-left: -110px;
    margin-right: 15px;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    background-color: $primarycolor;
    border: none;
    color: white;
}
.mobile-btn {
    margin-right: 15px;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    background-color: #f2f2f2;
    border: none;
}
.menu-creat {
    background-color: #f2f2f2;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    height: 60px;
    text-align: center;
    padding-top: 1px;
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: 15px;

}
.two {
    margin-left: -120px;
    margin-right: 15px;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    background-color: $primarycolor;
    border: none;
    color: white;
}
.creat-btn {
    margin-right: 15px;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    background-color: #f2f2f2;
    border: none;
}
.go-enjoy {
    background-color: rgb(245, 226, 245);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    height: 60px;
    text-align: center;
    padding-top: 1px;
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: 15px;
    
}
.three {
    margin-left: -30px;
    margin-right: 15px;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    background-color: $primarycolor;
    border: none;
    color: white;
}
.enjoy-btn {
    margin-right: 15px;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    background-color: rgb(238, 224, 238);
    border: none;
    color: $primarycolor;
}
.container-restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 50px;
}
@media only screen and (min-width: 992px) {
    .container-restaurant {
        width: 775px;
        float: right;
        height: 675px;
        margin-top: -660px;
        
    }
    .container-heading {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 5px;
        padding-left: 20px;
        width: 100%
    }
}
.container-heading {
    padding-top: 15px;
    padding-left: 20px;
    width: 100%
}
.container-card  {
    height: 300px;
    width: 360px;
    background-color: white;
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.container-image {
    height: 200px;
    width: 360px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
@media only screen and (min-width: 768px) {
    .container-card {
        width: 350px;
    }
    .container-image {
        width: 350px;
    }
}
.heart-icon {
    margin-top: -90px;
    margin-left: 250px;
    width: 100px;
}
.empty-heart {
    margin-top: 13px;
    margin-left: 40px;
    font-weight: 100;
    position: relative;
    }
  .full-heart {
    margin-top: 13px;
    margin-left: 40px;
    font-weight: 100;

  }
  .heart-icon .full-heart {
    visibility: hidden;
    color: #9356dc;
    position: relative;
    top: -45px;
  }
  .empty-heart:hover {
    visibility: hidden;
  }
  .heart-icon:hover .full-heart {
    visibility: visible;
    animation: fadeIn ease 3s;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.btn {
    margin-top: -180px;
    position: relative;
    height: 30px;
    margin-left: 270px;
    width: 30px;
}
.new-btn {
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(163, 204, 163);
    color: white;
    border: none;
}
.card-caption {
    margin-top: 170px;
    margin-left: 20px;
    width: 200px;
}

.card-caption1 {
    margin-top: 170px;
    margin-left: 20px;
    width: 200px;
    margin-top: -0px;
}

.footer-info {
    background-color: rgb(29, 28, 28);
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 0;
}
@media only screen and (min-width: 992px) {
    .footer {
        margin-top: 30px;        
    }
}
.footer-text {
    color: white;
    font-size: 24px;
    margin-left: 20px;
    line-height: 1.8;
    font-family: $font-family;
}
h1 {
    color: white;
    margin-left: 20px;
    padding-top: 25px;
    font-style: italic;
    font-family: Shrikhand-Regular;
}
.contact-email {
    color: white;
    text-decoration: none;
  }
  .loader-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(250, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: step-end;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 120px;
        height: 120px;
        margin: -76px 0 0 -76px;
        border: 16px solid #dad8d8;
        border-radius: 50%;
        border-top: 16px solid #058ae2;
        border-bottom:  16px solid #058ae2;
        animation: spin 1s linear infinite;
  }
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } 
  @keyframes fade {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(110%);
      opacity: 1;
    }
  }
